<h2 mat-dialog-title>Add New Stock</h2>

<mat-dialog-content>
  <form #stockForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Stock Name</mat-label>
      <input
        matInput
        [(ngModel)]="stock.stockName"
        name="stockName"
        required
        placeholder="Ex: Apple Inc."
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Symbol</mat-label>
      <input
        matInput
        [(ngModel)]="stock.symbol"
        name="symbol"
        required
        placeholder="Ex: AAPL"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Number of Shares</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="stock.shares"
        name="shares"
        required
        min="0"
        step="0.01"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Purchase Price</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="stock.priceAtPurchase"
        name="priceAtPurchase"
        required
        min="0"
        step="0.01"
      />
      <span matPrefix>$&nbsp;</span>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Date Acquired</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="stock.dateAcquired"
        name="dateAcquired"
        required
        (click)="picker.open()"
      />
      <mat-hint
        >Click the calendar icon or input field to select a date</mat-hint
      >
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="!stockForm.form.valid"
  >
    Add Stock
  </button>
</mat-dialog-actions>
